<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="PBL3Entities" connectionString="metadata=res://*/DAL.PBL3.csdl|res://*/DAL.PBL3.ssdl|res://*/DAL.PBL3.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-RJB80G2N\SQLEXPRESS;initial catalog=ppl3;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>